<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129714025607-pvjjnjq5l0bp18vlc83pohv85llhuhiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129714025607-pvjjnjq5l0bp18vlc83pohv85llhuhiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129714025607-5bajmu80e91meesfa134tanalsrfdhth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDXJjOOFvgk0PkoLxEKSTMmFSip4mJ-uo</string>
	<key>GCM_SENDER_ID</key>
	<string>129714025607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decordash.decordash</string>
	<key>PROJECT_ID</key>
	<string>decordash-6e368</string>
	<key>STORAGE_BUCKET</key>
	<string>decordash-6e368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129714025607:ios:fa9bfc42682111d03f3422</string>
</dict>
</plist>