<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>
        <h1>Profile</h1>
      </main>
<%- include('../includes/end.ejs') %>
